multi_head_prediction/model/*.pth filter=lfs diff=lfs merge=lfs -text
multi_head_prediction/model/12h.pth filter=lfs diff=lfs merge=lfs -text
multi_head_prediction/model/6h.pth filter=lfs diff=lfs merge=lfs -text
multi_head_prediction/model/8h.pth filter=lfs diff=lfs merge=lfs -text
multi_head_prediction/model/reg.pth filter=lfs diff=lfs merge=lfs -text
